- to delete rows
   - Home ->  (reduce rows)->Remove rows(remove top rows,remove bottom rows)

- venue
  - Add column
    - Extract  - > Text Before Delimiter

- score 2-4  
  - Home -> Split Column -> By Delimter

- To upper case
   - Transform -> Format (text column)->Uppercase

- Home -> **Close&Load**

- gmail extract domain
  - AddColumn->(from text)Extract ->bte delim

___

- Merge
  - prefix,firstname,lastname
  - AddColumn->MergeColumns(from text)

- Home 
   - remove columns

___
#### Numerical
- select column -> Transform -> Statistics -> count values
- avg
- min,max
<br><br>
- Transform ->(Number Column) -> Rounding

- calculations
   - select a column -> Add Column -> Custom column(general) -> name -> give formula ->  [ProductPrice]*0.9  -> ok

___

- Home -> (Transform) **Use First Row as Headers**

- if date settings not correct
  - file -> options and settings ->query options -> regional settings -> english(US) 
  - Transform -> DataType(Date) ->replace current

- Transform -> Date -> Earliest 
- Add Column -> "  "

___

- **merge**

- open a sheet -> get data -> from folder ->give path -> ok  -> combine and transform

___

- **join horizontally**

- excel file with three worksheets
- Data -> getdata -> form excel workbook ->choose 
- selct one and ->Transform data ->
- Home -> (New Query)New Source ->File ->select same work book ->import 
- choose another table from same workbook -> ok
- Home -> (Transform)Use First Row as Headers

- Home -> (Combine)Merge Queries ->Merge Queries 
- first table will be already present
- choose second table at the column below
- choose Join Kind
- choose common columns
- ok

- at the last column ther will be some symbol to expand ->ok